{%  extends 'shop/main.html' %}

{% block content %}

<div class="row align-items-start">
  <div class="col">
    <h2>Modely</h2>
    <p><a href="/detail/attributename/">Attribute names</a></p>
    <p><a href="/detail/attributevalue/">Attribute values</a></p>
    <p><a href="/detail/attribute/">Attributes</a></p>
    <p><a href="/detail/image/">Images</a></p>
    <p><a href="/detail/product/">Products</a></p>
    <p><a href="/detail/catalog/">Catalog</a></p>
  </div>
  <div class="col">
    <h2>Zaznamy</h2>


      {% for record in model %}

      <p><a href="{{ record.id }}">{{ record }}</a>
      {% if modelName == 'image' %}
        <img class="img-thumbnail" src="{{ record }}" alt="" style="width:200px;height:200px;">
      {% endif %}
      </p>
      {% endfor %}
      {{ record }}
      {% if modelName == 'image' and record != None %}
        <img class="img-thumbnail" src="{{ record }}" alt="" style="width:200px;height:200px;">
      {% endif %}
  </div>
</div>

{% if record != None %}
<hr>
      <h2>Detail zaznamu</h2>
        <table class="table align-top">
          {% for key, value in item_dict.items %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}


        </table>
        {% if modelName == 'product' %}
        <div class="row align-items-start">
          <div class="col">
            <h5>Obrazky</h5>
            {% for img in record.productimage_set.all %}
              <p>
                {{ img.nazev }}
                <img class="img-thumbnail" src="{{ img.obrazek_id }}" alt="{{ img.nazev }}" style="width:200px;height:200px;">
              </p>
            {% empty %}
            <p>Zadne obrazky k tomuto produktu.</p>
            {% endfor %}
          </div>
          <div class="col">
            <h5>Atributy</h5>
            {% for attribute in record.productattributes_set.all %}
              <p>
                {{ attribute.attribute }}
              </p>
            {% empty %}
              <p>Zadne atributy k tomuto produktu.</p>
            {% endfor %}
          </div>
        {% endif %}
        </div>

        {% if modelName == 'catalog' %}
        <div class="row align-items-start">
          <div class="col">
            <h5>Produkty</h5>
            {% for product in record.products_ids.all %}
              <p>
                {{ product }}
              </p>
            {% empty %}
              <p>Zadne produkty k tomuto katalogu.</p>
            {% endfor %}
          </div>
          <div class="col">
            <h5>Atributy</h5>
            {% for attribute in record.attributes_ids.all %}
              <p>
                {{ attribute }}
              </p>
            {% empty %}
                <p>Zadne atributy k tomuto katalogu.</p>
            {% endfor %}
          </div>
          <div class="col">
            <h5>Obrazek</h5>

                <img class="img-thumbnail" src="{{ record.obrazek_id }}" alt="" style="width:200px;height:200px;">


          </div>
        </div>
        {% endif %}
{% endif %}





{% endblock %}
